<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="grid-container">
        <div class="left-container">
            <h1 class="welcome">
                <%= task_details.task %>
            </h1>
            <div class="container-details">
                <strong>Priority:</strong>
                <p>
                    P<%= task_details.priority%>
                </p>
                <strong>Details:</strong>

                <p>
                    <%=task_details.details%>
                </p>
            </div>

            <div class="btn-container">
                <button class="btn"><a href="/tasks">Main Menu</a></button>
                <form method="POST" action="/tasks/<%=task_details.id%>?_method=DELETE">
                    <button class="btn">Delete</button>
                </form>
                <button class="btn" id="submit"><a href="/tasks/<%=task_details.id%>/edit">Edit</a></button>
            </div>


        </div>
        <div class="right-container">
            <h1>Tasks<a href="/tasks/new" class="plus">+</a></h1>
            <ul>
                <% for( let t of tasks ) { %>
                    <li>
                        <a href="/tasks/<%=t.id%>">
                            <%= t.task %>
                        </a>
                    </li>

                    <% } %>
            </ul>

        </div>
    </div>

</body>

</html>